{% extends '_layouts/detail.njk' %}
{% set members = data.members[1] %}

{% block info %}
  <div class="col-sm-4 left-rail">
    <img src="img/members/{{ members.image }}" alt="placeholder image" class="img-fluid">
    <h5>{{ members.name }}</h5>
  </div>
{% endblock %}

{% block story %}
  <h2>{{ members.name }}</h2>
  <p>{{ members.text }}</p>
{% endblock %}
