{% extends '_layouts/detail.njk' %}
{% set members = data.members[3] %}
{% block page_title %}Queen | John Deacon{% endblock %}


{% block story %}
<div class="headline-two">
    {{ members.name }}
</div>
<div class="body-members">
    <p>{{ members.text | safe }}</p>
</div>
{% endblock %}

