
{% extends '_layouts/member-base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    
    {% for discography in data.discography %}
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card mb-5">
        <img src="img/discs/{{ discography.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="disc-headline">
              <p class="card-title">
                <b>{{ discography.title }}</b>
              <p class="card-text">
                <p>{{ discography.year }}</p>
              </p>
              <p class="music">
                <a class="btn btn-dark" href="{{ discography.listen }}" role="button">Listen</a>
            </div>
          </div>
       </div>
      </div>
      {% endfor %}
    </div>
  </div>
</article>
<p class="header">DISCOGRAPHY DATA:</p>
 <iframe title="BILLBOARD HITS" aria-label="Bar Chart" id="datawrapper-chart-v3Nvw" src="//datawrapper.dwcdn.net/v3Nvw/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 80% !important; border: none;" height="619"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
{% endblock %}
