{% extends '_layouts/member-base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    
    {% for members in data.members %}
    <div class="col-sm-7 col-lg-5">
      <div class="card" style="width: 30rem;">
      <div class="card bg-dark text-white">
        <img src="img/members/{{ members.imagebw }}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><b>{{ members.name }}</b></h5>
          <p class="card-text"> {{ members.instruments }} </p>
          <p class="card-text">Last updated 3 mins ago</p>
           <a class="btn btn-light" href="{{ members.slug }}.html" role="button">About Me</a>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
</article>
{% endblock %}