{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    
    {% for members in data.members %}
      <div class="col-sm-6 col-lg-3">
        <div class="card mb-4" style="width: 18rem;">
        <img src="img/members/{{ members.imagebw }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">
              <b>{{ members.name }}</b>
            <p class="card-text">
              <p>{{ members.instruments }}</p>
           </p>
           <a class="btn btn-primary" href="#" role="button">Link</a>
          </div>
       </div>
      </div>
      
      
      
      
      
      {% endfor %}



    </div>
  </div>
</article>
{% endblock %}