<nav class="navbar navbar-expand-lg navbar-light" style="background-color:whitesmoke">
  <a class="navbar-brand" href="index.html"><b>OFFICIAL UNOFFICIAL QUEEN WEBSITE</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <a href="main-member.html" class="nav-link">The Band</a>
      </li> 
      <li class="nav-item">
            <a href="disc.html" class="nav-link">Discography</a>
      </li>
    </ul>
  </div>
</nav>
