.jumbotron {
  background: url(../img/queen-logo-black.png) no-repeat center;
  background-size: contain;
  background-position: center top;
  height: 200px;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  

}

