// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
//font-family: 'Cormorant Garamond', serif;
//font-family: 'PT Sans', sans-serif;

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "carousel";
@import "tour";

@include media-breakpoint-between(xs, sm) { 
    .jumbotron {
        height: 100px;
        margin-bottom: 20px;
    }
    
 }
 
 @include media-breakpoint-only(md) { 
    .jumbotron {
        height: 100px;
    }
 }
body {
    background-color: whitesmoke;
    color: black;
}

.headline-two { 
    font-family: 'Cormorant Garamond', serif;
    text-decoration: bold;
    font-size: 100px;
    text-align: center;
    margin: auto;
    padding-top: auto;
  }
.body-members {
    display: inline-block;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;

}
.page-body{
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    
}
.disc-headline {
    font-family: 'PT Sans', sans-serif; 
    color: black;
}
#datawrapper-chart-v3Nvw {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.header {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    
}

.card-body {
    background-color: whitesmoke;
}
.img-fluid {
    padding-top: 35px;
}
a {
    color: lightseagreen;
}
a:visited {
    color: grey;
}
a:hover {
    color: red;
}