.table {
    width: 70%;
    margin: auto;
}



.tour-main{
    font-family: 'Cormorant Garamond', serif;
    font-size: 75px;
    text-align: center;
}
.tour-head {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}
.tour-body {
    font-family: 'PT Sans', sans-serif;

}